--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
jupyter
jupyterlab
pandas
numpy == 1.23.5
scipy
matplotlib
graphviz
lightgbm
pylint
pre-commit
kaggle-environments
ruff
termcolor
ipywidgets
pygame
gym[classic_control]
