--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision
torchaudio
jupyter
jupyterlab
pandas
numpy
scipy
matplotlib
graphviz
lightgbm
pylint
pre-commit
kaggle-environments
ruff
termcolor
ipywidgets
pygame